@charset "UTF-8";

html{
    height: 100%;
}

body{
    /* height: 100%; */
    background: linear-gradient(#4169e1, #00bfff, #ffff00);
    display: block;
    align-items: center;
    justify-content: space-around;
}

header{
    text-align: center;
    margin-top: 10%;
    margin-bottom: 5%;
}

p{
    color: #f5f5f5;
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
}

.sns-title{
    font-size: 40px;
}

#container{
    display: flex;
    justify-content: space-around;
}

h2{
    color: #f0f8ff;
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.gray-back{
    background-color: rgb(105, 105, 105, 0.4);
    padding: 50px;
    border-radius: 10px;
}

a{
    color: rgb(255, 255, 255);
}

.input{
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 20px;
    border-style: none;
    font-size: 20px;
    padding: 10px;
}

.name, .address, .pass{
    color: rgb(240, 248, 255);
}

.red-btn{
    display: block;
    justify-content: flex-end;
    margin: 0 0 40px auto;
    color: #f5f5f5;
    font-size: 20px;
    background-color: rgb(220, 20, 60);
    border-style: none;
    padding: 10px 30px;
    border-radius: 10px;
    cursor: pointer;
}
