@charset "utf-8";
html{
}

body{
    background: rgba(24, 106, 201, 0.1);
}

/* header */
header{
    background:#186AC9;
    display: flex;
    justify-content: space-between;
}

#head{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-between;
}

h1{
    margin-top: 10px;
}

.user-image{
    margin-left: 5%;
    width: 25px;
    height: 25px;
}

#user-profile{
    margin-top: 30px;
    width: 25%;
    z-index: 1;
}

#user-name{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-top: 40px;
    margin-bottom: 55px;
}

#user-name p{
    color: #f5f5f5;
    font-size: 20px;
}

#user-profile ul li{
    width: 100%;
    padding: 5% 0;
    background-color: #ffffff;
    text-align: center;
    border-style: solid;
    border-width: 1.5px;
    display: none;
}

#user-profile ul li:hover{
    background-color: #191970;
    cursor: pointer;
}

#user-profile ul li a{
    color: #d3d3d3;
    font-size: 2rem;
}

.slide-button-down{
    position: absolute;
    top: 0;
    bottom: 0;
    display: block;
    width: 20px;
    height: 20px;
    cursor: pointer; /* マウスオン時のカーソルの形 */
    border-left: 2px solid #c0c0c0;
    border-bottom: 2px solid #c0c0c0;
    -webkit-transform: rotate(-45deg); /* 反時計回り\/ */
    margin-left: 80%;
    transition: .4s;
}

.slide-button-down.active{
    -webkit-transform: rotate(135deg); /* 時計回り/\ */
    margin-left: 80%;
    transition: .4s;
}

/* main content */
#row{
    display: flex;
    flex-flow: row wrap;
}

#container{
    flex: 0 0 80%;
}

#side-bar{
    flex: 0 0 19%;
    border-left: 1px solid #727272;
    height: 100vh;
}

#confirm{
    padding: 20px 0 0 20px;
    border-bottom: 1px solid #727272;
}

#confirm p{
    margin-bottom: 20px;
}

.follow-count{
    display: flex;
}

.follow-title{
    margin-right: 40px;
}

.btn{
    width: 50%;
    background-color: #186AC9;
    border-radius: 10px;
    padding: 10px 10px;
    text-align: center;
    cursor: pointer;
}

.btn a{
    color: #ffffff;
}

.follow{
    margin: 10px 20px 50px auto;
}

.user{
    margin: 20px 25% auto 25%;
}

.profile-icon{
    margin-top: 20px;
}

.profile-top{
    display: block;
    justify-content: space-around;
    padding-left: 10%;
    padding-right: 10%;
}

.category{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.output{
    border: 2px solid #c0c0c0;
    background-color: #f5f5f5;
    border-radius: 2px;
    margin: 5px 0 20px 0;
    font-size: 20px;
    padding: 5px;
    color: #696969;
}

.name, .address, .pass, .bio, .icon-image {
    color: #696969;
}

.red-btn {
    margin: 20px 25% auto 25%;
    color: #f5f5f5;
    font-size: 20px;
    background-color: #dc143c;
    border-style: none;
    padding: 10px 30px;
    border-radius: 10px;
    cursor: pointer;
}

.file{
    height: 60px;
}

/* 投稿フォーム */
.post-form{
    font-size: 20px;
    height: 80px;
    border-bottom: 6px solid #d3d3d3;
    margin-bottom: 20px;
    padding: 30px 0 20px 40px;
    display: flex;
}

.form-icon{
    margin-top: 20px;
    margin-right: 20px;
}

.tweet{
    width: 50%;
    font-size: 20px;
    margin-left: 10px;
    border: 2px solid rgb(24, 106, 201, 0.5);
}

::placeholder{
    color: #dcdcdc;
}

button{
    background: none;
    border: none;
    cursor: pointer;
}

/* 表示されている投稿 */
.list{
    border-bottom: 3px solid #d3d3d3;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 0 20px;
}

.left-list{
    font-size: 15px;
    height: 5vh;
    display: flex;
    justify-content: space-around;
}

.post-message{
    margin-left: 50px;
    width: 100%;
}

.right-list{
    font-size: 3px;
}

.update-edit{
    display: flex;
    justify-content: space-around;
    margin: 40px 0 0 20%;
}

#wrap{
    position: relative;
    margin-right: 20px;
}

.img-before{
    width: 30px;
    height: 30px;
    position: absolute;
}

.img-after{
    width: 30px;
    height: 30px;
    visibility: hidden;
    position: absolute;
}

#wrap:hover .img-before{
    visibility: hidden;
}

#wrap:hover .img-after{
    visibility: visible;
}

/* 編集画面 */
.modal{
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
}

.modal__bg{
    background-color: rgb(169, 169, 169, 0.4);
    height: 100vh;
    width: 100%;
    position: absolute;
}

.modal__content{
    position: absolute;
    background-color: #ffffff;
    margin: 25%;
    padding: 40px 20px 80px;
    border-radius: 10px;
}

.modal_post{
    position: relative;
    width: 450px;
    height: 150px;
    font-size: 15px;
    border: #696969 solid 1px;
}

.edit-btn{
    position: absolute;
    top: 80%;
    right: 15%;
}

/* 検索フォーム */
.search{
    border: solid 2px #a9a9a9;
    border-radius: 10px;
    width: 50%;
    font-size: 20px;
    margin-left: 10px;
}

.search-form{
    margin: auto 25%;
}

.search-info{
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-word{
    font-size: 20px;
    margin: 40px auto auto 20px;
}

.follow-btn {
    font-size: 20px;
    background-color: #00bfff;
    padding: 10px 0;
    border-radius: 10px;
    cursor: pointer;
    width: 200px;
    height: 20px;
    text-align: center;
    margin: auto 80px auto;
}

.follow-btn a, .unFollow-btn a{
    color: #f5f5f5;
}

.unFollow-btn{
    font-size: 20px;
    background-color: #dc143c;
    padding: 10px 0;
    border-radius: 10px;
    cursor: pointer;
    width: 200px;
    height: 20px;
    text-align: center;
    margin: auto 80px auto;
}

.prof-head{
    display: flex;
}

.prof-head-title{
    margin-right: 30%;
}

.under-margin{
    margin-bottom: 20px;
}

/* フォロー/フォロワーリスト */
.follow-image{
    display: flex;
    flex-wrap: wrap;
}
.follow-icon{
    margin-left: 20px;
}
